# -----------------------
# ОС и системные файлы
# -----------------------
*.log

# -----------------------
# PHPStorm / IDE
# -----------------------
.vscode/

# -----------------------
# Composer
# -----------------------
vendor/
composer.lock

# -----------------------
# Файлы конфигурации среды
# -----------------------
.env
.env.local
.env.*.local

# -----------------------
# Кэш и временные файлы и тесты
# -----------------------
src/test/
cache/
tmp/
*.tmp

# -----------------------
# Логи
# -----------------------
logs/
*.log